.fondoDegradado {
    background-image: linear-gradient(to top, #e02222, #000000);
}

#footers {
    font-size: large;
    color: red;
    line-height: 2;
    text-align: center;
}

.enlaces {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.enlaces:hover {
    color: white;
    text-decoration: underline;
}

.card img {
    object-fit: cover;
}

@media (max-width: 992px) {
    #detalleCard {
        margin-top: 2rem;
    }
}